<div>
  <input type="text" id="searchTerm" placeholder="Search...">
  <button onclick="search()">Search</button>
</div>

<div id="searchResults" class="d-flex">

</div>
<% if (books && books.length > 0) { %>
    <h2 style="margin-top: 30px">Books</h2> 
    <div class="d-flex justify-content-between flex-wrap">
      
      <% books.forEach(book => { %>
      <article class="card1 col-3" id="card">
        <img
          class="card__background"
          src="../../uploads/<%= book.img.data %>"
          alt="<%= book.title %>"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title"><%= book.title %></h2>
            <div class="card__description">
              <div><%= book.author %></div>
              <% if (book.user.username != null) { %>
                <div>Preso in prestito</div>
                <div>Disponibile dal <%= book.returnedAt.toLocaleDateString('it-IT') %></div>
              <% } else { %>
                <div>Disponibile</div>
              <% } %>
              </div>
          </div>
        </div>
      </article>
      <% }) %> 
    </div>
<% } %>

<script>
  async function search() {
      const searchTerm = document.getElementById('searchTerm').value;
      const searchResultsContainer = document.getElementById('searchResults');
  
      try {
          const response = await fetch('/books', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ searchTerm }),
          });
          
          const data = await response.json();
          console.log(data)
          
          searchResultsContainer.innerHTML = '';
          data.forEach(result => {
              const resultItem = document.createElement('div');
              resultItem.innerHTML = `
              <div class="d-flex">      
                <div class="card" style="width: 18rem;">
                    <img src="../../uploads/${result.img.data}" class="card-img-top" alt="..." style="max-height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">${result.title}</h5>
                        <p class="card-text">${result.author}</p>             
                    </div>
                </div>      
              </div>
              `;
              searchResultsContainer.appendChild(resultItem);
          });
      } catch (error) {
          console.error('Error during search:', error);
      }
  }

  </script>
  