<div class="author distance_container">
    <h1 class="author__heading">Colfert Blog</h1>
    <p class="author__body">Del testo</p>
</div>

<!-- <img src="/img/hero-image.webp" alt="" width="981" height="528"> -->

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>      
            <li>              
                <a href="/users/<%= post.user._id %>">
                    <div class="name-img-div">
                        <img style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;" src="../uploads/<%= post.user.avatar.data %>" alt="">
                        <span class="creator-name"><%= post.user.username %></span>
                    </div>
                </a>                
                <a href="/post/<%= post._id %>">
                    <div class="title-date-div"> 
                        <span class="text-danger text-uppercase"><b><%= post.title %></b></span>
                        <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                    </div>
                    <% if (post.body.length > 50) { %>
                        <article id="postBody<%= post._id %>" class="shortened">
                            <%= post.body.slice(0, 50) + '...' %>
                        </article>
                       
                    <% } else { %>
                        <article id="postBody<%= post._id %>">
                            <%= post.body %>
                        </article>
                    <% } %>
                </a>
                <% if (post.body.length > 50) { %>
                <button class="btn-post" onclick="toggleContent('<%= post._id %>', '<%= post.body %>')">Show More</button>
                <% } %>
            </li>
        <% }) %>
    </ul>
    
    <%# if (nextPage !== null) { %>   
        <!-- <a href="/?page=<%# nextPage %>" class="pagination"> View Older Posts</a> -->
    <%# } %> 
</section>