<h1><%= data.title %></h1>
<p>Scritto da: <%= data.user.username %></p>
<article class="article">
    <%= data.body %>
</article>
<% if (isLoggedIn) { %>
    <form action="/add-comment" method="POST" style="margin-top: 30px;">
        <input type="hidden" name="postId" value="<%= data._id %>">
        <label for="body"><b>Add comment</b></label>
        <textarea id="body" class="form-control" name="body" cols="30" rows="1"></textarea>
        <input type="submit" value="Add comment" class="btn">
    </form>    
<% } %>
<% if (Array.isArray(data.comments) && data.comments.length > 0) { %>
    <h2>Comments</h2> 
     <% data.comments.forEach(comment => { %>      
            <li>
                <span>By: <%= comment.user.username %></span>
                <span class="post-comments"><%= comment.body %></span>
                <span class="article-list__date"><%= comment.createdAt.toLocaleString('it-IT') %></span>
            </li>
        <% }) %>
<% } %>

